/* .content{
   
} */
.heading{
    text-align: center;
    font-size: 30px;
}
.filter{
    justify-content: space-between;
    display: flex;
}
.fil{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 6px;
}
.fil:hover{
cursor: pointer; 
background-color: rgb(232, 232, 232);
}
.para{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(42, 225, 225);
}